---
import { siteConfig } from "@/lib/config/site";
import { cn } from "@/lib/utils";
import Button from "./button.astro";
import Spacer from "./ui/spacer";

type Props = {
  class?: string;
};

const path = Astro.url.pathname;

const navLinks = siteConfig.mainNav;
---

<nav class={cn("inset-x-0 top-0 z-20 flex h-full max-h-[--navbar-height] items-center justify-around gap-4 border-b border-b-primary/10 bg-background px-3 py-1", Astro.props.class, path === "/evaluation-form" ? "" : "sticky")}>
  <a href='/' class='mr-auto hidden sm:block'>
    <img src='/images/logo.png' alt='mkc services company logo' class='h-[var(--navbar-height)]' />
  </a>

  <Spacer />

  <!-- <div class='relative z-10 flex max-w-max flex-1 items-center justify-center'>
    
  </div> -->
  <ul class='group flex list-none items-center justify-center space-x-1 gap-6 text-lg'>
    {
      navLinks.map((link) => (
        <a
          href={link.href}
          class={cn("group inline-flex w-max px-1 py-0.5 text-primary/90 font-medium transition-colors hover:text-accent focus:border-b-2 focus:border-b-accent/80 focus:text-accent focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:text-accent data-[active]:border-b-accent data-[active]:border-b-2", path === link.href && "border-b-2 border-b-accent text-accent")}>
          {link.title}
        </a>
      ))
    }
  </ul>

  <div class='h-2/5 w-[1px] bg-primary/30'></div>
  <a href='/evaluation-form' class='bg-secondary text-secondary-foreground hover:bg-secondary/80 border border-primary/20 py-2 brightness-95 hover:brightness-100 md:p-3'> Request an Evaluation </a>
</nav>
